@media screen and (max-width: 1300px) {
    .chefs {
        &__box {
            max-width: 300px;
        }
    }
    .about {
        padding: 50px 0;
        &-inner {
            padding-bottom: 150px;
        }

        &-img {
            width: 150px;
            padding-bottom: 20px;
        }
    }
    .container {
        max-width: 1000px;
    }
    .week {
        &-tabs {
            text-align: center;
            &-item {
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 1100px) {
    .features__list {
        width: 100%;
        position: relative;
        top: 0;
        font-size: 16px;
        margin-left: 0;
    }
    .menu {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $red;
        padding: 90px 30px 30px 30px;
        overflow: auto;

        z-index: 15;
        transition: left 0.5s;

        &::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: white;
            z-index: 20;
        }
        &-active {
            left: 0;
        }
        &__list {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            li {
                a {
                    padding: 5px;
                    margin-bottom: 20px;
                    font-size: 30px;
                    color: white;
                }
            }
        }
        &-icon {
            display: block;
            cursor: pointer;
            &-active {
                display: none;
            }
            &-close {
                &-active {
                    display: block;
                }
            }
        }
    }
    .home {
        &-inner {
            height: auto;
            overflow: hidden;
            flex-wrap: wrap;
        }
        &-left {
            min-width: 400px;
            width: 100%;
            &-inner {
                position: relative;
                padding: 30px 15px;
                text-align: center;
            }
        }
        &__slider {
            height: 500px;
        }
        &-right {
            width: 100%;
            height: 500px;
            img {
                width: 100%;
                height: 500px;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .contact {
        &-box {
            flex-wrap: wrap;
        }
        &-number,
        &-mail {
            margin-bottom: 20px;
        }

        &-inner {
            flex-wrap: wrap;
        }
    }
    .chefs {
        &-inner {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .about {
        &-big-img {
            padding-top: 30px;
        }
        &-inner {
            flex-wrap: wrap;
        }
    }
    .week {
        &-tabs-item-inner {
            min-width: 490px;
        }
        &-tabs {
            &-img {
                width: 400px;
            }
            &-general {
               
                    justify-content: center !important;
                
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .footer {
        &-inner {
            padding-top: 10px;
            grid-template-columns: 1fr;
            text-align: center;
        }
        &-designer {
            margin: 0;
        }
        &-logo {
            padding: 20px 0;
        }
    }
    .ourmenu {
        .slick-prev {
            left: 100px;
        }
        .slick-next {
            right: 100px;
            left: auto;
        }
    }
    .about {
        &-inner {
            flex-wrap: wrap;
        }
    }
    .home {
        &-inner {
            height: auto;
            overflow: hidden;
            flex-wrap: wrap;
        }
        &-left {
            min-width: 400px;
            width: 100%;
            &-inner {
                position: relative;
                padding: 30px 15px;
                text-align: center;
            }
        }
        &__slider {
            height: 500px;
        }
        &-right {
            width: 100%;
            height: 500px;
            img {
                width: 100%;
                height: 500px;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .ourmenu__slider-inner {
        margin: 0 -15px;
    }
    .ourmenu .slick-slide {
        margin: 0 15px;
    }
}
@media screen and (max-width: 500px) {
    .footer-social-link {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .about {
        &-inner {
            padding: 0px 0;
        }

        &-img {
            width: 120px;
            padding-bottom: 20px;
        }
    }
    .week {
        &-tabs {
            &-img {
                width: 100%;
            }
            &-price {
                position: absolute;
                right: 0;
                top: 0;
            }
            &-mid {
                text-align: center;
                padding: 20px;
            }
            &-item {
                flex-direction: column;
                justify-content: center;
            }
            &-item-inner {
                min-width: 100%;
            }
        }
    }
    .home {
        .slick-arrow {
            background-color: transparent;
            opacity: 1;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
        &-inner {
            height: auto;
            overflow: hidden;
            flex-wrap: wrap;
        }
        &-left {
            min-width: 200px;
        }
        &__slider {
            height: 300px;
        }
        &-right {
            width: 100%;
            height: 300px;
            img {
                width: 100%;
                height: 300px;
            }
        }
    }
    .week {
        padding: 50px 0;
        &-subtitle {
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 400px) {
    .contact {
        &-right {
            padding: 20px;
        }
        &-form-btn {
            font-size: 16px;
        }
    }
    .about {
        &__left {
            min-width: 300px;
        }
        &-images {
            flex-wrap: wrap;
        }
    }
}
